<%= content_for :head do %>
<script>
var $slider;
$(function() {
  $('.industry-banners').slick({
    dots: false,
    arrows: false,
    fade: true,
    autoplay: true,
    autoplaySpeed: 6000,
  });

  $slider = $('.industry-banners');
  if($slider[0].slick.slideCount === 0) {
    $('.industry-banner-controls').hide();
  }
})

$(document).on('click', '.industry-banner-control-link', function(e) {
  e.preventDefault();
  slideIndex = $(this).data('slide');
  $slider[0].slick.slickGoTo(parseInt(slideIndex));
});
</script>
<% end %>

<div class="row">
  <div class="small-12 columns content-area separated">
    <%= render 'industries/header', industry: @industry if @industry.present? %>

    <div class="inner">
      <ul class="breadcrumbs">
        <li>
          <%= link_to 'Home', root_url %>
        </li>

        <li>
          <span class="current">Industries</span>
        </li>
      </ul>
    </div>

    <div class="industry-banner-area">
      <div class="industry-banner-controls">
        <%= render partial: 'industry_banners/industry_banner_control',
            collection: BaseCollectionPresenter.new(collection: @industry.displayable_banners, view_template: self, presenter: IndustryBannerPresenter),
            as: :industry_banner_presenter
          %>
      </div>

      <div class="industry-banners">
        <%= render partial: 'industry_banners/industry_banner',
            collection: BaseCollectionPresenter.new(collection: @industry.displayable_banners, view_template: self, presenter: IndustryBannerPresenter),
            as: :industry_banner_presenter
          %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns content-area separated">
    <div class="inner padded">
      <div class="text-center">
        <div class="page-title-header">
          <%= two_tone_title @industry.name %>
        </div>
      </div>

      <%= @industry.summary %>
    </div>
  </div>
</div>


<div class="row">
  <div class="small-12 columns content-area separated">
    <div class="inner">
      <%= @industry.accreditations %>
    </div>
  </div>
</div>
