<div class="row">
  <div class="small-12 columns content-area">
    <%= render 'industries/header', industry: @industry if @industry.present? %>
    <%= render 'industries/header', industry: @presented_page unless @industry.present? %>

    <div class="inner">
      <ul class="breadcrumbs">
        <li>
          <%= link_to 'Home', root_url %>
        </li>

        <li>
          <span class="current"><%= @page.title %></span>
        </li>
      </ul>
    </div>

    <div class="inner padded">
      <% if @side_menus.count.zero? %>
        <div class="text-center">
          <h1 class="page-title-header">
            <%= two_tone_title @presented_page.title %>
          </h1>
        </div>

        <div class="inner-content-area">

          <% if @industry.present? %>
            <div class="text-center">
              <%= @presented_page.image %>
            </div>
          <% end %>

          <%= @presented_page.content %>
        </div>
      <% else %>
        <div class="row">
          <div class="small-12 medium-3 columns">
            <ul class="navigation sidebar">
              <%= nested_menu_items(menu_items: @side_menus.last.related_menu_items(@page)) %>
            </ul>
          </div>

          <div class="small-12 medium-9 columns">
            <div class="text-center">
              <h1 class="page-title-header">
                <%= @presented_page.title %>
              </h1>
            </div>

            <div class="inner-content-area">

              <% if @industry.present? %>
                <div class="text-center">
                  <%= @presented_page.image %>
                </div>
              <% end %>

              <%= @presented_page.content %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
