<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize @contact.errors.count, 'error' %> prevented this message from being sent
    </h2>

    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
  <%= f.text_field :name, placeholder: 'Name', id: "#{defined?(form) ? "#{form.parameterize}_" : ''}name" %>
</div>

<div class="field">
  <%= f.text_field :email, placeholder: 'Email', id: "#{defined?(form) ? "#{form.parameterize}_" : ''}email" %>
</div>

<div class="field">
  <%= f.text_field :company_name, placeholder: 'Company name', id: "#{defined?(form) ? "#{form.parameterize}_" : ''}company_name" %>
</div>

<div class="field">
  <%= f.text_field :telephone, placeholder: 'Telephone', id: "#{defined?(form) ? "#{form.parameterize}_" : ''}telephone" %>
</div>

<div class="field">
  <%= f.text_area :message, placeholder: 'Message', id: "#{defined?(form) ? "#{form.parameterize}_" : ''}message" %>
</div>

<% if defined? form %>
  <%= f.hidden_field :form, value: form, id: "#{form.parameterize}_form" %>
<% end %>

<div class="actions">
  <%= f.submit 'Send Message', class: 'light-submit-button' %>
</div>
