<html lang="en">
  <body>

    <% if @contact.form == 'callback' %>
      <h1>Request for a callback</h1>
    <% end %>

    <p>
      <strong>Name:</strong>
      <br />
      <%= @contact.name %>
    </p>

    <% if @contact.email.present? %>
      <p>
        <strong>Email:</strong>
        <br />
        <%= mail_to(@contact.email) %>
      </p>
    <% end %>

    <% if @contact.company_name.present? %>
      <p>
        <strong>Company name:</strong>
        <br />
        <%= @contact.company_name %>
      </p>
    <% end %>

    <% if @contact.telephone.present? %>
      <p>
        <strong>Telephone:</strong>
        <br />
        <%= @contact.telephone %>
      </p>
    <% end %>

    <p>
      <strong>Message:</strong>
      <br />
      <%= @contact.message %>
    </p>

  </body>
</html>
