<%= form_for(industry) do |f| %>
<% if industry.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(industry.errors.count, "error") %> prohibited this industry from being saved:</h2>

    <ul>
      <% industry.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
            <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
            <div class="field">
        <%= f.label :colour %><br>
              <%= f.select :colour, Industry::COLOURS, include_blank: Industry::DEFAULT_COLOUR %>
      </div>
            <div class="field">
        <%= f.label :summary %><br>
        <%= f.text_area :summary %>
      </div>
            <div class="field">
        <%= f.label :introduction %><br>
        <%= f.text_area :introduction, class: 'tinymce' %>
      </div>
            <div class="field">
        <%= f.label :accreditations %><br>
        <%= f.text_area :accreditations, class: 'tinymce' %>
      </div>
          <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
            <%= f.image_field :image %>
            <%= f.image_field :home_banner_image %>

          <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>

          <div class="field">
      <%= f.label :subdomain %><br>
      <%= f.text_field :subdomain %>
    </div>

    <div class="field">
<%= f.label :menu %><br>
<%= f.select :menu, NavigationMenus.map{|x| [x.humanize, x]} %>
</div>

          <div class="field">
      <%= f.label :display %><br>
      <%= f.check_box :display %>
    </div>
          <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
